<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.internet"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

        <queries>
            <package android:name="com.paygo24.ibank" />
            <package android:name="com.domain.acledabankqr" />
            <package android:name="kh.com.sathapana.consumer" />
            <package android:name= "io.kessinnovation.kesschat"/>
            <package android:name="com.eg.android.AlipayGphone"/>
        </queries>
    
    <application
        android:name=".UTSwapApp"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSwapApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".module.account.documentsScreen.contract.ContractActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.account.documentsScreen.operation_rule.OperationRuleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.account.documentsScreen.privacy.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- android:allowTaskReparenting="false" -->

        <activity
            android:name="com.zillennium.utswap.module.splashScreen.SplashScreenActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.navbar.navbar.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />

                <data android:scheme="https" />

                <data  android:host="ut-swap.com" />

            </intent-filter>



        </activity>

<!--        <activity-->

<!--            android:name=".screens.navbar.navbar.MainActivity"-->

<!--            android:launchMode="singleTask">-->

<!--            <intent-filter android:autoVerify="true">-->

<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->

<!--            </intent-filter>-->

<!--            <intent-filter>-->

<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="your_URI_" />-->

<!--                <data android:scheme="https" android:host="your_URL" />-->

<!--                <data android:scheme="http" android:host="your_URL" />-->

<!--            </intent-filter>-->

<!--        </activity>-->
        <!-- Activity KYC -->
        <activity
            android:name=".module.finance.depositScreen.OpenWebViewToComfirmPayment.DepositOpenLinkWebViewActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:exported="false"
            android:label="@string/openWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.kyc.kycActivity.KYCActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:exported="false"
            android:label="@string/KYC"
            android:screenOrientation="portrait" /> <!-- End Activity KYC -->
        <!-- Activity Finance -->
        <activity
            android:name="com.zillennium.utswap.module.finance.balanceScreen.FinanceBalanceActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/finance_balance"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.finance.lockUpScreen.FinanceLockUpActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/finance"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.finance.subscriptionScreen.FinanceSubscriptionsActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/finance_lock_up"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.finance.historicalScreen.FinanceHistoricalActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/finance_historical"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- End Activity Finance -->
        <!-- Activity Security -->
        <activity
            android:name="com.zillennium.utswap.module.security.securityActivity.registerScreen.RegisterActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/register"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zillennium.utswap.module.security.securityActivity.signInScreen.SignInActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/sign_in"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zillennium.utswap.module.security.securityActivity.resetPasswordScreen.ResetPasswordActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/reset_password"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- End Activity Security -->
        <!-- Activity System -->
        <activity
            android:name="com.zillennium.utswap.module.system.welcomeScreen.WelcomeActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/welcome"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Activity Finance -->
        <activity
            android:name=".module.finance.depositScreen.DepositActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/deposit"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- End Activity System -->
        <!-- Activity Project -->
        <activity
            android:name="com.zillennium.utswap.module.project.projectScreen.ProjectActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/project"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.project.projectInfoScreen.ProjectInfoActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/project_info"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.project.subscriptionScreen.SubscriptionActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/subscription"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- End Activity Project -->
        <!-- Activity Trade -->
        <activity
            android:name=".module.main.trade.tradeExchangeScreen.TradeExchangeActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/trade_exchange"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zillennium.utswap.module.main.trade.tradeDetailScreen.TransactionDetailActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/trade_exchange"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- End Activity Trade -->

        <activity
            android:name="com.zillennium.utswap.module.finance.addCardScreen.DepositAddCardActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/deposit"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.finance.withdrawScreen.WithdrawActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/deposit"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.finance.withdrawScreen.addBank.AddBankActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/deposit"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Notification screen -->
        <activity
            android:name=".module.system.notification.NotificationActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/notifications"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Account Screen -->
        <activity
            android:name=".module.account.accountScreen.AccountActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/account"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Account Detail Screen -->
        <activity
            android:name="com.zillennium.utswap.module.account.accountDetailScreen.AccountDetailActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/account"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Lock Timeout Screen -->
        <activity
            android:name=".module.account.lockTimeOutScreen.LockTimeOutActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/account"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Add phone number Screen -->
        <activity
            android:name=".module.account.addNumberScreen.AddNumberActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/add_phone_number"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Customer support Screen -->
        <activity
            android:name=".module.account.customerSupportScreen.CustomerSupportActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/customer_support"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Referral Screen -->
        <activity
            android:name=".module.account.referralInformationScreen.ReferralInformationActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/referral_information"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Documents account Screen -->
        <activity
            android:name=".module.account.documentsScreen.DocumentsActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/documents"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Terms conditions Screen -->
        <activity
            android:name=".module.account.documentsScreen.termsConditions.TermsConditionsActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/documents"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Logs Screen -->
        <activity
            android:name=".module.account.logsScreen.LogsActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/log_s"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Logs Screen -->
        <activity
            android:name="com.zillennium.utswap.module.security.securityActivity.changeLoginPassword.ChangeLoginPasswordActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/change_login_password"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Change Fund Password Screen -->
        <activity
            android:name="com.zillennium.utswap.module.security.securityActivity.changeFundPassword.ChangeFundPasswordActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/forgot_password"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Activity News Detail -->
        <activity
            android:name="com.zillennium.utswap.module.main.news.newsDetail.NewsDetailActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/news"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" /> <!-- Activity Finance Transfer -->
        <activity
            android:name=".module.finance.transferScreen.TransferActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/transfer_"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- Activity Open Camera Change Profile -->
        <activity
            android:name=".module.account.accountScreen.activity.ChangeProfileCameraActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:label="@string/referral_information"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.project.ViewImage.ImageViewActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            />
        <activity android:name=".module.finance.depositScreen.depositSuccessfully.DepositSuccessfullyActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.account.accountKycPending.AccountKycPendingActivity"
            android:configChanges="uiMode|keyboardHidden|screenSize|orientation|screenLayout"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            />
        <service
            android:name=".utils.MyFirebase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>