<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zillennium.utswap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSwapApp"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.zillennium.utswap.screens.notInTab.splashScreen.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zillennium.utswap.screens.setting.reserPasswordScreen.VerificationResetPasswordActivity"
            android:exported="false"
            android:label="VerificationResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.reserPasswordScreen.NewPasswordActivity"
            android:exported="false"
            android:label="NewPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.KycApplication"
            android:exported="false"
            android:label="KycApplication"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.ContractActivity"
            android:exported="false"
            android:label="ContractActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.FundPasswordActivity"
            android:exported="false"
            android:label="FundPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.DeclarationActivity"
            android:exported="false"
            android:label="DeclarationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.AddressInfoActivity"
            android:exported="false"
            android:label="AddressInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.EmploymentInfo"
            android:exported="false"
            android:label="EmploymentInfo"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.IDVerification"
            android:exported="false"
            android:label="IDVerification"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.TermConditionActivity"
            android:exported="false"
            android:label="TermCondition Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.verificationScreen.VerificationActivity"
            android:exported="false"
            android:label="Verification Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.MyWallet.MyWalletActivity"
            android:exported="false"
            android:label="New Account"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.SelfieActivity"
            android:exported="false"
            android:label="Selfie"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.selfieHoldingScreen.SelfieHoldingActivity"
            android:exported="false"
            android:label="Selfie Holding"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.CameraActivity"
            android:exported="false"
            android:label="Camera"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.setting.kycScreen.idTypeScreen.IdTypeActivity"
            android:exported="false"
            android:label="ID Type"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zillennium.utswap.screens.welcome.WelcomeActivity"
            android:exported="false"
            android:label="Welcome"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/project_ico"
            android:name="com.zillennium.utswap.screens.project.projectICOScreen.ProjectICOActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/profile_qrcode"
            android:name="com.zillennium.utswap.screens.setting.profileQRCodeScreen.ProfileQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/notification"
            android:name=".screens.systems.notificationScreen.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/scan_qrcode"
            android:name=".screens.systems.scanQRCodeScreen.ScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/search"
            android:name=".screens.systems.searchScreen.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/trade_exchange"
            android:name="com.zillennium.utswap.screens.trade.tradeExchangeScreen.TradeExchangeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/balance"
            android:name="com.zillennium.utswap.screens.setting.balanceScreen.BalanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/deposit"
            android:name="com.zillennium.utswap.screens.setting.depositScreen.DepositActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/withdrawal"
            android:name="com.zillennium.utswap.screens.setting.withdrawalScreen.WithdrawalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/transfer"
            android:name="com.zillennium.utswap.screens.setting.transferScreen.TransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/subscription"
            android:name="com.zillennium.utswap.screens.setting.subScriptionScreen.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/lock_up"
            android:name="com.zillennium.utswap.screens.setting.lockUpScreen.LockUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/historical"
            android:name="com.zillennium.utswap.screens.setting.historicalScreen.HistoricalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/reset_password"
            android:name="com.zillennium.utswap.screens.setting.reserPasswordScreen.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/sign_up"
            android:name="com.zillennium.utswap.screens.setting.signUpScreen.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/home"
            android:name=".screens.navbar.navbar.NavbarActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/project"
            android:name="com.zillennium.utswap.screens.project.projecrDetailScreen.ProjectDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/app_name"
            android:name="com.zillennium.utswap.screens.setting.signInScreen.SigninActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/setting"
            android:name="com.zillennium.utswap.screens.setting.settingScreen.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/term"
            android:name="com.zillennium.utswap.screens.setting.termScreen.TermActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/profile"
            android:name="com.zillennium.utswap.screens.setting.profileScreen.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/language"
            android:name="com.zillennium.utswap.screens.setting.languageScreen.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/login_password"
            android:name="com.zillennium.utswap.screens.setting.loginPasswordScreen.LoginPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/fund_password"
            android:name="com.zillennium.utswap.screens.setting.fundPasswordScreen.FundPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/log"
            android:name="com.zillennium.utswap.screens.setting.logScreen.LogActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/twofa"
            android:name="com.zillennium.utswap.screens.setting.twoFAScreen.TwoFAActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/lock_screen"
            android:name="com.zillennium.utswap.screens.setting.lockScreen.LockScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/account_type"
            android:name="com.zillennium.utswap.screens.setting.accountTypeScreen.AccountTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/credit_card"
            android:name="com.zillennium.utswap.screens.setting.creditCardScreen.CreditCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/add_new_card"
            android:name="com.zillennium.utswap.screens.setting.addCardScreen.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>